In [2]:
import urllib.request
import json
import pandas as pd
import requests
from bs4 import BeautifulSoup

from pandas.io.json import json_normalize


url = 'http://apis.data.go.kr/B552657/ErmctInfoInqireService/getEmrrmRltmUsefulSckbdInfoInqire?serviceKey=rdmH5XR5ycW9emHC9D56bNydZrvc6546Z0fxlqCdCPc4RpWZ99GMoGoRIKRabGJKz2WFcTwN9ekSTfCvzzhiYA%3D%3D&pageNo=1&numOfRows=402'
req = requests.get(url)
html = req.text
soup = BeautifulSoup(html, 'html.parser')

    # Get hpid list
hpid = soup.find_all('hpid')
hpid_list = list(map(lambda x: x.text, hpid))
print(hpid_list)
    # 'A2200011'

['A2200005', 'A2200011', 'A2200008', 'A2200038', 'A2200003', 'A2200007', 'A2200012', 'A2200046', 'A2200037', 'A2200002', 'A2200015', 'A2200024', 'A2200001', 'A2200048', 'A2201730', 'A2200009', 'A2200013', 'A2200004', 'E2200026', 'A2200014', 'E2200025', 'A2200016', 'A2100042', 'A2100047', 'A2100033', 'A2100049', 'A2100038', 'A2100007', 'A2100155', 'A2100039', 'A2100054', 'A2100048', 'A2100053', 'A2100006', 'A2100041', 'A2100044', 'A2100037', 'A2100052', 'A2100005', 'A2100050', 'A2100055', 'A2100001', 'A2100258', 'A2100025', 'A2100030', 'A2100016', 'A2100011', 'A2100002', 'A2100032', 'A2100009', 'A2100012', 'A2100027', 'A2100013', 'A2100008', 'A2100017', 'A2100021', 'A2100003', 'A2100014', 'A2100045', 'A2100305', 'A2100004', 'A2100015', 'A2100134', 'A2100089', 'A2100194', 'E2100187', 'A2100024', 'A2114449', 'A2100020', 'A2100029', 'A2100122', 'A2100019', 'A2100034', 'A2100040', 'A2100150', 'A2100043', 'A2100193', 'A2100035', 'A2100309', 'A2100028', 'A2100022', 'A2113246', 'A2100036', 'A2100031', 'A2116761', 'A2100046', 'A2100018', 'A2115699', 'A2800008', 'A2800005', 'A2800022', 'A2800032', 'A2803677', 'A2800010', 'A2800016', 'A2800014', 'A2800006', 'A2800094', 'A2800057', 'A2800068', 'A2800101', 'A2800011', 'A2803301', 'A2800019', 'A2800090', 'A2800001', 'A2800084', 'A2800015', 'A2800043', 'A2800037', 'A2800003', 'A2800062', 'A2800025', 'A2800017', 'A2800009', 'A2800020', 'A2803505', 'A2800007', 'A2800012', 'A2800004', 'A2800021', 'A2800092', 'A2800080', 'A2800055', 'A2700019', 'A2700036', 'A2700003', 'A2700070', 'A2700013', 'A2700007', 'A2700015', 'A2700018', 'A2700012', 'A2700006', 'A2700067', 'A2700009', 'A2700011', 'A2700030', 'A2700004', 'A2700014', 'A2700001', 'A2700031', 'A2702752', 'A2700017', 'A2700023', 'E2700553', 'A2700052', 'A2700063', 'A2700038', 'E2700554', 'A2700016', 'A2700002', 'A2700008', 'A2702563', 'A2700005', 'A1500006', 'A1500019', 'A1500017', 'A1500018', 'A1500004', 'A1500011', 'A1500013', 'A1500009', 'A1500021', 'A1500002', 'A1500001', 'A1500015', 'A1500010', 'A1500003', 'A1500005', 'A1500007', 'A1500020', 'A1500022', 'A1500016', 'A1500014', 'A1300034', 'A1300004', 'A1300001', 'A1300006', 'A1300003', 'A1300110', 'A1300011', 'A1300045', 'A1300038', 'A1300009', 'A1300005', 'A1300010', 'A1300007', 'A1300081', 'A1300008', 'A1300002', 'A1600009', 'A1600004', 'A1600003', 'A1602246', 'A1600006', 'A1600002', 'A1600007', 'A1600005', 'A1600008', 'A1600001', 'A1200028', 'A1200015', 'A1200013', 'A1200026', 'A1200017', 'A1200011', 'A1200018', 'A1200009', 'A1200020', 'A1200001', 'A1200019', 'A1200025', 'A1200045', 'A1200006', 'A1200005', 'A1200016', 'A1200004', 'A1200002', 'A1200003', 'A1200021', 'A1200008', 'A1200007', 'A1200024', 'A1200012', 'A1200014', 'A1200023', 'A1205143', 'A1200022', 'A1100015', 'A1100010', 'A1100043', 'A1100028', 'A1100053', 'A1100030', 'A1120796', 'A1100036', 'A1100041', 'A1100002', 'A1100051', 'A1100026', 'A1100014', 'A1100049', 'A1100027', 'A1100016', 'A1100048', 'A1100020', 'A1100001', 'A1100021', 'A1100022', 'A1100050', 'A1100040', 'A1100003', 'A1100007', 'A1100025', 'A1100012', 'A1100013', 'A1100008', 'A1100039', 'A1100009', 'A1100019', 'A1100223', 'A1100005', 'A1100011', 'A1100024', 'A1100037', 'A1100055', 'A1100054', 'A1100004', 'A1121013', 'A1100023', 'A1100017', 'A1100006', 'A1100029', 'A1100032', 'A1100033', 'A1100075', 'A1100044', 'A1100035', 'A1800417', 'A1700028', 'A1700011', 'A1700003', 'A1700004', 'A1700025', 'A1700001', 'A1701489', 'A1700002', 'A1403617', 'A1403372', 'A1400014', 'A1400001', 'A1400017', 'A1400007', 'A1400004', 'A1400016', 'A1400012', 'A1400032', 'A1400013', 'A1400015', 'A1400005', 'A1400003', 'A1400010', 'A1400008', 'A1400011', 'A1400037', 'A1400009', 'A1400002', 'A2600050', 'A2600018', 'A2600068', 'A2600029', 'A2600006', 'A2600061', 'A2600016', 'A2600054', 'A2600053', 'A2600007', 'A2600020', 'A2600011', 'A2600017', 'A2600022', 'A2600003', 'A2600052', 'A2600066', 'A2600008', 'A2600056', 'A2600019', 'A2600005', 'A2600012', 'A2600051', 'A2600014', 'A2600027', 'A2600010', 'A2600034', 'A2600015', 'A2600032', 'A2600035', 'A2600021', 'A2600037', 'A2600040', 'A2600077', 'A2600009', 'A2600001', 'A2600048', 'A2500009', 'A2500007', 'A2500012', 'A2500004', 'E2500019', 'A2500018', 'A2500010', 'E2500021', 'A2500001', 'A2500011', 'E2500022', 'E2500020', 'A2500002', 'A2500056', 'A2501890', 'A2500006', 'A2500005', 'A2500008', 'A2502031', 'A2900002', 'A2900001', 'A2900003', 'A2900007', 'A2900005', 'A2900006', 'A2400010', 'A2400009', 'A2400008', 'A2400011', 'A2400038', 'A2400003', 'A2400006', 'A2400044', 'A2402257', 'A2400002', 'A2400001', 'A2400005', 'A2400012', 'E2400032', 'E2400033', 'A2400007', 'A2300034', 'A2300030', 'A2300011', 'A2300015', 'A2300009', 'A2300005', 'A2300013', 'A2300007', 'A2300003', 'A2300001', 'A2300006', 'A2300008', 'A2300002', 'A2302011', 'A2300010', 'A2300004']

In [49]:

url2 = 'http://apis.data.go.kr/B552657/ErmctInfoInqireService/getEgytBassInfoInqire?serviceKey=rdmH5XR5ycW9emHC9D56bNydZrvc6546Z0fxlqCdCPc4RpWZ99GMoGoRIKRabGJKz2WFcTwN9ekSTfCvzzhiYA%3D%3D&HPID=A2200011&pageNo=1&numOfRows=1&'
req2 = requests.get(url2)
html = req2.text
soup = BeautifulSoup(html, 'html.parser')
hpid2 = soup.find('hpid')
hname = soup.find('dutyname')
x_coord = soup.find('wgs84lat')
y_coord = soup.find('wgs84lon')


    #    return hpid2, hname

<hpid>A2200011</hpid> <dutyname>강원도강릉의료원</dutyname> <wgs84lat>37.74931042017154</wgs84lat> <wgs84lon>128.8887963251862</wgs84lon>

In [3]:
df = pd.DataFrame(columns=['hpid', 'hname','x_coord','y_coord'])
df

Empty DataFrame
Columns: [hpid, hname, x_coord, y_coord]
Index: []

In [5]:
for pid in hpid_list:
    url2 = 'http://apis.data.go.kr/B552657/ErmctInfoInqireService/getEgytBassInfoInqire?serviceKey=rdmH5XR5ycW9emHC9D56bNydZrvc6546Z0fxlqCdCPc4RpWZ99GMoGoRIKRabGJKz2WFcTwN9ekSTfCvzzhiYA%3D%3D&HPID=' + pid + '&pageNo=1&numOfRows=1&'
    req2 = requests.get(url2)
    html2 = req2.text
    soup2 = BeautifulSoup(html2, 'html.parser')
    hpid2 = soup2.find('hpid').text
    hname = soup2.find('dutyname').text
    x_coord = soup2.find('wgs84lat').text
    y_coord = soup2.find('wgs84lon').text
    
    

    df= df.append({'hpid': hpid2,
                   'hname': hname,
                   'x_coord': x_coord,
                   'y_coord': y_coord
                   }, ignore_index=True)

AttributeError: 'NoneType' object has no attribute 'text'

In [143]:
df

,hpid,hname,x_coord,y_coord,new
0,A2200005,의료법인강릉동인병원,37.774326,128.907142,"[(37.77432579461282, 128.90714180258507), (37...."
1,A2200011,강원도강릉의료원,37.749310,128.888796,"[(37.77432579461282, 128.90714180258507), (37...."
2,A2200008,강릉아산병원,37.818427,128.857714,"[(37.77432579461282, 128.90714180258507), (37...."
3,A2200038,근로복지공단동해병원,37.532323,129.105856,"[(37.77432579461282, 128.90714180258507), (37...."
4,A2200003,의료법인동해동인병원,37.530007,129.107404,"[(37.77432579461282, 128.90714180258507), (37...."
...,...,...,...,...,...
407,A2300008,청주성모병원,36.673801,127.485470,"[(37.77432579461282, 128.90714180258507), (37...."
408,A2300002,의료법인한마음의료재단하나병원,36.623474,127.430819,"[(37.77432579461282, 128.90714180258507), (37...."
409,A2302011,재단법인베스티안재단베스티안병원,36.636428,127.321641,"[(37.77432579461282, 128.90714180258507), (37...."
410,A2300010,건국대학교의료원충주병원,36.978975,127.928637,"[(37.77432579461282, 128.90714180258507), (37...."
411,A2300004,충청북도충주의료원,36.979567,127.970359,"[(37.77432579461282, 128.90714180258507), (37...."

In [89]:
df.to_csv('C:\\Users\\park\\Desktop\\location3.csv', encoding= 'euc-kr')

In [104]:
df[['x_coord','y_coord']] =df[['x_coord','y_coord']].astype('float64')

In [125]:
df.dtypes

hpid        object
hname       object
x_coord    float64
y_coord    float64
dtype: object

In [111]:
df[['x_coord','y_coord']]

       x_coord     y_coord
0    37.774326  128.907142
1    37.749310  128.888796
2    37.818427  128.857714
3    37.532323  129.105856
4    37.530007  129.107404
..         ...         ...
407  36.673801  127.485470
408  36.623474  127.430819
409  36.636428  127.321641
410  36.978975  127.928637
411  36.979567  127.970359

[412 rows x 2 columns]

In [128]:
df['new'] = 0

In [140]:
a = df.transform(lambda x: list(zip(df['x_coord'], df['y_coord'])))['new'][0:len(df['hpid'])]

In [141]:
a

0       (37.77432579461282, 128.90714180258507)
1        (37.74931042017154, 128.8887963251862)
2      (37.818426685036066, 128.85771413305145)
3        (37.53232311891651, 129.1058560226859)
4       (37.530006805605616, 129.1074043067605)
                         ...
407    (36.673801330174406, 127.48546957073641)
408    (36.623474045244464, 127.43081864239413)
409             (36.6364279047, 127.3216412104)
410     (36.97897509717851, 127.92863660615964)
411      (36.97956732195825, 127.9703586011334)
Name: new, Length: 412, dtype: object

In [142]:
df

,hpid,hname,x_coord,y_coord,new
0,A2200005,의료법인강릉동인병원,37.774326,128.907142,"[(37.77432579461282, 128.90714180258507), (37...."
1,A2200011,강원도강릉의료원,37.749310,128.888796,"[(37.77432579461282, 128.90714180258507), (37...."
2,A2200008,강릉아산병원,37.818427,128.857714,"[(37.77432579461282, 128.90714180258507), (37...."
3,A2200038,근로복지공단동해병원,37.532323,129.105856,"[(37.77432579461282, 128.90714180258507), (37...."
4,A2200003,의료법인동해동인병원,37.530007,129.107404,"[(37.77432579461282, 128.90714180258507), (37...."
...,...,...,...,...,...
407,A2300008,청주성모병원,36.673801,127.485470,"[(37.77432579461282, 128.90714180258507), (37...."
408,A2300002,의료법인한마음의료재단하나병원,36.623474,127.430819,"[(37.77432579461282, 128.90714180258507), (37...."
409,A2302011,재단법인베스티안재단베스티안병원,36.636428,127.321641,"[(37.77432579461282, 128.90714180258507), (37...."
410,A2300010,건국대학교의료원충주병원,36.978975,127.928637,"[(37.77432579461282, 128.90714180258507), (37...."
411,A2300004,충청북도충주의료원,36.979567,127.970359,"[(37.77432579461282, 128.90714180258507), (37...."

In [148]:
type(a)

pandas.core.series.Series

In [149]:
b = a.tolist()

In [152]:
b[0][0]

37.77432579461282

In [2]:
from haversine import haversine

In [3]:
a = haversine((37.56668, 126.97843 ) , (37.53232312,129.105856))

In [155]:
a

6675.482013663871

In [11]:
import geopandas as gpd
import matplotlib.pyplot as plt

In [17]:
plt.rcParams["font.family"] = 'NanumGothic' # 한글폰트
plt.rcParams["figure.figsize"] = (10,10)
plt.rcParams['axes.unicode_minus'] = False

In [18]:
# read file
shp_file = 'C:\\Users\\park\\Desktop\\TL_SCCO_LI.shp'
shpd = gpd.read_file(shp_file)
shpd

,LI_CD,LI_ENG_NM,LI_KOR_NM,geometry
0,2671025021,Dongbu-ri,µ¿ºÎ¸®,"POLYGON ((1156572.843 1696804.747, 1156605.133..."
1,2671025022,Gyo-ri,±³¸®,"POLYGON ((1155731.257 1697372.017, 1155813.409..."
2,2671025023,Sincheon-ri,½ÅÃµ¸®,"POLYGON ((1157572.293 1695843.731, 1157584.155..."
3,2671025024,Jukseong-ri,Á×¼º¸®,"POLYGON ((1158010.875 1696998.510, 1158017.903..."
4,2671025025,Seobu-ri,¼­ºÎ¸®,"POLYGON ((1155615.822 1696551.022, 1155624.394..."
...,...,...,...,...
15166,5013032022,Hacheon-ri,ÇÏÃµ¸®,"POLYGON ((938519.344 1485011.794, 938523.445 1..."
15167,5013032023,Seongeup-ri,¼ºÀ¾¸®,"POLYGON ((935621.433 1487054.845, 935601.231 1..."
15168,5013032024,Gasi-ri,°¡½Ã¸®,"POLYGON ((921269.113 1489589.300, 921295.319 1..."
15169,5013032025,Sehwa-ri,¼¼È­¸®,"POLYGON ((935366.774 1479529.366, 935365.629 1..."
15170,5013032026,Tosan-ri,Åä»ê¸®,"POLYGON ((932794.827 1479767.288, 932771.111 1..."

In [19]:
shpd['geometry']

0        POLYGON ((1156572.843 1696804.747, 1156605.133...
1        POLYGON ((1155731.257 1697372.017, 1155813.409...
2        POLYGON ((1157572.293 1695843.731, 1157584.155...
3        POLYGON ((1158010.875 1696998.510, 1158017.903...
4        POLYGON ((1155615.822 1696551.022, 1155624.394...
                               ...
15166    POLYGON ((938519.344 1485011.794, 938523.445 1...
15167    POLYGON ((935621.433 1487054.845, 935601.231 1...
15168    POLYGON ((921269.113 1489589.300, 921295.319 1...
15169    POLYGON ((935366.774 1479529.366, 935365.629 1...
15170    POLYGON ((932794.827 1479767.288, 932771.111 1...
Name: geometry, Length: 15171, dtype: geometry