In [10]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

url = 'http://apis.data.go.kr/B552657/ErmctInfoInqireService/getEmrrmRltmUsefulSckbdInfoInqire?serviceKey=rdmH5XR5ycW9emHC9D56bNydZrvc6546Z0fxlqCdCPc4RpWZ99GMoGoRIKRabGJKz2WFcTwN9ekSTfCvzzhiYA%3D%3D&pageNo=1&numOfRows=402'
req = requests.get(url)
html = req.text
soup = BeautifulSoup(html, 'html.parser')

    # Get hpid list
hpid = soup.find_all('hpid')
hpid_list = list(map(lambda x: x.text, hpid))

# 'A2200011'

df = pd.DataFrame(columns=['hpid', 'hname','hvec','hvoc','hvgc','dutyhano','MKioskTy1','MKioskTy2','MKioskTy3',
                              'MKioskTy4','MKioskTy5','MKioskTy6','MKioskTy7','MKioskTy8','MKioskTy9','MKioskTy10',
                              'MKioskTy11','hpbdn','hpccuyn','hpcuyn','hperyn','hpgryn','hpicuyn','hpnicuyn','hpopyn'])

for pid in hpid_list:
        url2 = 'http://apis.data.go.kr/B552657/ErmctInfoInqireService/getEgytBassInfoInqire?serviceKey=rdmH5XR5ycW9emHC9D56bNydZrvc6546Z0fxlqCdCPc4RpWZ99GMoGoRIKRabGJKz2WFcTwN9ekSTfCvzzhiYA%3D%3D&HPID=' + pid + '&pageNo=1&numOfRows=1&'
        req2 = requests.get(url2)
        html2 = req2.text
        soup2 = BeautifulSoup(html2, 'html.parser')
        hpid2 = soup2.find('hpid')
        hname = soup2.find('dutyname')
        hvec= soup2.find('hvec')  
        hvoc= soup2.find('hvoc')   
        hvgc= soup2.find('hvgc')   
        dutyhano= soup2.find('dutyhano')   
        MKioskTy1= soup2.find('Mkioskty1')
        MKioskTy2= soup2.find('mkioskty2') 
        MKioskTy3= soup2.find('mkioskty3')  
        MKioskTy4= soup2.find('mkioskty4') 
        MKioskTy5= soup2.find('mkioskty5')   
        MKioskTy6= soup2.find('mkioskty6')   
        MKioskTy7= soup2.find('mkioskty7')   
        MKioskTy8= soup2.find('mkioskty8')   
        MKioskTy9= soup2.find('mkioskty9')   
        MKioskTy10= soup2.find('mkioskty10')  
        MKioskTy11= soup2.find('mkioskty11')   
        hpbdn= soup2.find('hpbdn')
        hpccuyn= soup2.find('hpccuyn')   
        hpcuyn= soup2.find('hpcuyn')   
        hperyn= soup2.find('hperyn')   
        hpgryn= soup2.find('hpgryn')   
        hpicuyn= soup2.find('hpicuyn')   
        hpnicuyn= soup2.find('hpnicuyn')   
        hpopyn= soup2.find('hpopyn')  

        df = df.append({'hpid': hpid2,
                        'hname': hname,
                        'hvec': hvec,
                        'hvoc': hvoc
                        ,'hvgc': hvgc
                        ,'dutyhano':dutyhano
                        ,'mkioskTy1':MKioskTy1
                        ,'MKioskTy2':MKioskTy2
                        ,'MKioskTy3':MKioskTy3
                        ,'MKioskTy4':MKioskTy4
                        ,'MKioskTy5':MKioskTy5
                        ,'MKioskTy6':MKioskTy6
                        ,'MKioskTy7':MKioskTy7
                        ,'MKioskTy8':MKioskTy8
                        ,'MKioskTy9':MKioskTy9
                        ,'MKioskTy10':MKioskTy10
                        ,'MKioskTy11':MKioskTy11
                        ,'hpbdn':hpbdn
                        ,'hpccuyn':hpccuyn
                        ,'hpcuyn':hpcuyn
                        ,'hperyn':hperyn
                        ,'hpgryn':hpgryn
                        ,'hpicuyn':hpicuyn
                        ,'hpnicuyn':hpnicuyn
                        ,'hpopyn':hpopyn
                        }, ignore_index=True)

In [30]:
df

,hpid,hname,hvec,hvoc,hvgc,dutyhano,MKioskTy1,MKioskTy2,MKioskTy3,MKioskTy4,...,MKioskTy11,hpbdn,hpccuyn,hpcuyn,hperyn,hpgryn,hpicuyn,hpnicuyn,hpopyn,mkioskTy1
0,[A2200005],[의료법인강릉동인병원],[15],[5],[55],[425],NaN,[Y],[Y],[Y],...,[N],[425],[0],[0],[20],[248],[15],[0],[5],None
1,[A2200011],[강원도강릉의료원],[5],[2],[37],[137],NaN,None,None,None,...,None,[137],[0],[0],[6],[104],[8],[0],[2],None
2,[A2200008],[강릉아산병원],[3],[6],[70],[802],NaN,[Y],[Y],[Y],...,[N],[802],None,None,[29],[693],None,[13],[14],None
3,[A2200038],[근로복지공단동해병원],[9],[2],[36],[312],NaN,None,None,None,...,None,[312],None,None,[9],[279],[8],None,[2],None
4,[A2200003],[의료법인동해동인병원],[10],[0],[51],[379],NaN,None,None,None,...,None,[379],[0],[0],[10],[180],[19],[0],[2],None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,[A2300008],[청주성모병원],[9],[5],[113],[433],NaN,[Y],[Y],[Y],...,[N],[433],None,None,[21],[408],None,None,[8],None
398,[A2300002],[의료법인한마음의료재단하나병원],[6],[5],[17],[364],NaN,[Y],[Y],[Y],...,[N],[364],None,None,[12],[343],[19],None,[7],None
399,[A2302011],[재단법인베스티안재단베스티안병원],[8],[4],[156],[220],NaN,None,None,None,...,None,None,None,None,None,None,None,None,None,None
400,[A2300010],[건국대학교의료원충주병원],[16],[5],[79],[318],NaN,[Y],[Y],[Y],...,[N],[318],None,None,[20],[240],[20],None,[6],None
401,[A2300004],[충청북도충주의료원],[11],[4],[10],[292],NaN,[N],[Y],[Y],...,[N],[292],None,None,[12],[236],[12],None,[4],None

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 26 columns):
hpid          401 non-null object
hname         401 non-null object
hvec          398 non-null object
hvoc          385 non-null object
hvgc          396 non-null object
dutyhano      401 non-null object
MKioskTy1     0 non-null object
MKioskTy2     312 non-null object
MKioskTy3     312 non-null object
MKioskTy4     312 non-null object
MKioskTy5     312 non-null object
MKioskTy6     312 non-null object
MKioskTy7     312 non-null object
MKioskTy8     312 non-null object
MKioskTy9     312 non-null object
MKioskTy10    312 non-null object
MKioskTy11    312 non-null object
hpbdn         388 non-null object
hpccuyn       152 non-null object
hpcuyn        141 non-null object
hperyn        389 non-null object
hpgryn        388 non-null object
hpicuyn       297 non-null object
hpnicuyn      191 non-null object
hpopyn        380 non-null object
mkioskTy1     0 non-null object
dtypes: object(26)
memory usage: 81.8+ KB

In [26]:
df_fillna= df[['MKioskTy1','MKioskTy2']].fillna('N')

In [28]:
df_fillna.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 2 columns):
MKioskTy1    402 non-null object
MKioskTy2    402 non-null object
dtypes: object(2)
memory usage: 6.4+ KB

In [31]:
df_2 = df

In [42]:
df_3 = df_2[['hvec','hvoc','hvgc','dutyhano','hpbdn','hpccuyn','hpcuyn','hperyn','hpgryn','hpicuyn','hpnicuyn','hpopyn' ]].fillna(value=0)

In [43]:
df_3

,hvec,hvoc,hvgc,dutyhano,hpbdn,hpccuyn,hpcuyn,hperyn,hpgryn,hpicuyn,hpnicuyn,hpopyn
0,[15],[5],[55],[425],[425],[0],[0],[20],[248],[15],[0],[5]
1,[5],[2],[37],[137],[137],[0],[0],[6],[104],[8],[0],[2]
2,[3],[6],[70],[802],[802],0,0,[29],[693],0,[13],[14]
3,[9],[2],[36],[312],[312],0,0,[9],[279],[8],0,[2]
4,[10],[0],[51],[379],[379],[0],[0],[10],[180],[19],[0],[2]
...,...,...,...,...,...,...,...,...,...,...,...,...
397,[9],[5],[113],[433],[433],0,0,[21],[408],0,0,[8]
398,[6],[5],[17],[364],[364],0,0,[12],[343],[19],0,[7]
399,[8],[4],[156],[220],0,0,0,0,0,0,0,0
400,[16],[5],[79],[318],[318],0,0,[20],[240],[20],0,[6]
401,[11],[4],[10],[292],[292],0,0,[12],[236],[12],0,[4]

In [44]:
df_4 = df_2[['hpid', 'hname','MKioskTy1','MKioskTy2','MKioskTy3',
                              'MKioskTy4','MKioskTy5','MKioskTy6','MKioskTy7','MKioskTy8','MKioskTy9','MKioskTy10',
                              'MKioskTy11']].fillna('N')

In [62]:
df_5 = df_4['hpid'].map(lambda x : x.text)

AttributeError: 'str' object has no attribute 'text'

In [63]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 402 entries, 0 to 401
Data columns (total 13 columns):
hpid          402 non-null object
hname         402 non-null object
MKioskTy1     402 non-null object
MKioskTy2     402 non-null object
MKioskTy3     402 non-null object
MKioskTy4     402 non-null object
MKioskTy5     402 non-null object
MKioskTy6     402 non-null object
MKioskTy7     402 non-null object
MKioskTy8     402 non-null object
MKioskTy9     402 non-null object
MKioskTy10    402 non-null object
MKioskTy11    402 non-null object
dtypes: object(13)
memory usage: 41.0+ KB

In [81]:
df_4['hpid'][1].text

'A2200011'

In [74]:
df_4[['hpid']== [A2200005] ]

NameError: name 'A2200005' is not defined

In [85]:
def func (x):
    return x.text

df_5 = df_4['hpid'].apply(lambda x : func(x) , df_4['hpid'])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().